@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 30%, #221A38, #3D195A);
  font-family: "IranYekan", sans-serif;
  direction: rtl;
  height: 100dvh;
}

#root {
  width: 100%;
}
